* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    body {
        background-color: lightgrey;
        header,
        footer {
            background-color: grey;
            height: 10vh;
        }
        header {
            position: relative;
            display: flex;
            justify-content: center;
            > * {
                flex-basis: 20%;
                align-self: center;
            }
        }
        .switch {
            position: absolute;
            top: 10px;
            right: 200px;
        }
        main {
            height: 80vh;
            display: flex;
            justify-content: center;
            padding: 50px;
            #table {
                height: 500px;
                width: 500px;
                display: flex;
                flex-wrap: wrap;
                &> * {
                    background-color: white;
                    border: 1px solid black;
                    flex-basis: 33%;
                }
            }
            .zone > a {
              position: relative;
              display: flex;
              justify-content: center;
              height: 100%;
              width: 100%;
                i {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                font-size: 8rem;
                opacity: 0;
                }
            }
        }
    }
}

